.button{
    background-color: aquamarine;
    color: black;
    border-radius: 30%;
    margin-left: 42%;
    height: 100px;
    width: 200px;
    font-size: 150%;
    animation: bounce .3s infinite alternate;
}
@keyframes bounce {
  to { transform: scale(1.2); }
}

